@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {

    --swiper-pagination-color: var(--swiper-theme-color);
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;

  } */

.allDots {
    opacity: 1;
    background: rgba(61, 60, 60, 0.596);
    border: 1px solid white;
    scale: 0.65;
    --swiper-pagination-bullet-horizontal-gap: 1px;
}

.activeDots {
    scale: 1.2;
    background: #fff;
    opacity: 1;
}
