@tailwind base;
@tailwind components;
@tailwind utilities;

.allDots {
    opacity: 1;
    background: rgba(61, 60, 60, 0.596);
    border: 1px solid white;
    scale: 0.65;
    --swiper-pagination-bullet-horizontal-gap: 1px;
}

.activeDots {
    scale: 1.2;
    background: #fff;
    opacity: 1;
}

.swiper-button-next, .swiper-button-prev {
    scale: 0.3;
    background: #fff;
    width: 150px;
    height: 200px;
}

.swiper-button-next {
    left: 92.3%;
    top: 30%;
    border-radius: 100px 0 0 100px;
}

.swiper-button-prev {
    left: -4.5%;
    top: 30%;
    border-radius: 0 100px 100px 0;
}
